{
  "presets": [
    [
      "@babel/env",
      {
        "debug": false,
        "modules": "commonjs",
        "targets": {
          "browsers": [
            "last 2 major versions",
            ">= 5%",
            "chrome >= 45",
            "safari >= 10",
            "firefox >= 43",
            "not IE < 11"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/transform-runtime"
  ]
}
